# OpenRouter API Key
OPENROUTER_API_KEY=your_openrouter_api_key_here

# Default OpenRouter Model
NEXT_PUBLIC_DEFAULT_MODEL=nvidia/nemotron-3-ultra-550b-a55b:free

# TiDB Database Connection Config
DATABASE_URL=mysql://2cpECGyEi7tkhJp.root:fo0KkH8OQLI8WRig@gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/test?ssl={"rejectUnauthorized":true}

TIDB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
TIDB_PORT=4000
TIDB_USER=2cpECGyEi7tkhJp.root
TIDB_PASSWORD=fo0KkH8OQLI8WRig
TIDB_DATABASE=test
TIDB_SSL=true

# App Config
NEXT_PUBLIC_APP_NAME=RdirAI
